#otter-title{
   font-size: 60px;
   font-weight: bold;
   font-family: fantasy;
   color: #2184f4;
   text-align: center;
   border: 4px solid black;
   background-color: black;
 }

 #chapter{
   font-size: 20px;
   font-weight: lighter;
   color: #1b62bf
 }

 @media (min-width: 500px) {
    #learn::before {
         content: "LEARN MORE ABOUT OTTERS!!";
     }
 }

 @media (max-width: 499px) {
    #learn::before {
         content: "LEARN MORE!!";
     }
 }

%tipe {
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.european {
    @extend %tipe;
    background-color: #00ffff;
}

.american {
    @extend %tipe;
    background-color: #53ffff;
}

.sea {
    @extend %tipe;
    background-color:  #87fdfd ;
}

.giant{
    @extend %tipe;
    background-color: #b4fefe;
}

.top{
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;
  border: 4px solid #2184f4;
  background-color: #2184f4;
}

$weight: bold;
$color: gray;

#saludation{
   font-weight: $weight;
   text-align: center;
}

p{
  font-size: 14px;
  color: $color;
}

#information{
  font-weight: $weight;
}

ol{
  font-size: 20px;
  color: $color;
}

.row > div {
     padding: 20px;
     background-color: #bafbfb;
     border: 4px solid black;
 }

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
	  border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
	  background-color: #d1d9d9;
}
